// by @sergodeeva (https://github.com/sergodeeva)
$color-background = #FFFFFF
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = #007200
$color-text = #383838
$color-accent-3 = #c53e00
$color-accent-2 = #007200
$color-accent-1 = #c53e00
$color-quote = #c53e00
$highlight = hexo-config("highlight") || "atelier-cave-light"
